* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.task-management {
  display: inline-flex;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
}
