/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.task-management {
  display: inline-flex;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.task-management {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* добавлен отступ справа для разделения компонентов */
}

.right {
  display: flex;
  flex-direction: column;
}

.week-days-list {
  list-style-type: none;
  padding: 0;
}

.week-days-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.week-days-list li:hover {
  border-color: #007bff;
}

.week-days-list input {
  margin-left: 8px;
}

.add-user {
  padding: 12px;
  margin: 12px;
  border: solid 1px black;
}

/* Новые стили для Subjects и WeekDays */
.subjects {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* добавлен отступ снизу для разделения компонентов */
}

.subjects h1 {
  margin-bottom: 10px;
}

.week-days {
  display: flex;
  flex-direction: column;
}

.week-days h2 {
  margin-bottom: 10px;
}

